<div class="header">
    <div class="header__banner">
        <div class="header__logo">
            <span class="header__logo-images">
                <img src="../../assets/images/logo-p.png" alt="" class="header__logo-item header__image">
                <img src="../../assets/images/logo-ro.png" alt="" class="header__logo-item header__image" [ngClass]="{'header_show': isShow, 'header_opacity': !isShow}">
                <span class="header__logo-item header_translate" [ngClass]="{'header_no-translate': isShow}">
                    <img src="../../assets/images/logo-p.png" alt="" class="header__logo-item header__image header_rotated" [ngClass]="{'header_animated': isShow && isRotate}">
                    <img src="../../assets/images/logo-eals.png" alt="" class="header__logo-item header__image" [ngClass]="{'header_show': isShow, 'header_opacity': !isShow}">
                </span>
            </span>
        </div>
        <div class="header__social">
        </div>
    </div>
    <app-navbar></app-navbar>
</div>
