.header {
    width: 100%;
    &__banner {
        width: 100%;
        height: 180px;
        overflow: hidden;
        background: url("../../assets/images/header-back.jpeg");
        background-position: center;
        background-size: cover;
    }
    &__logo {
        display: flex;
        align-items: center;
        height: 100%;
        padding-left: 50px;
        box-sizing: border-box;
    }
    &__logo-item {
        transition: all 0.9s;
    }
    &__logo-images {
        display: flex;
        align-items: baseline;
    }
    &_translate {
        transform: translateX(-130px);
        z-index: 2;
    }
    &_rotated {
        transform: rotate(180deg);
        display: inline-block;
        margin-top: 15px;
    }
    &_animated {
        animation: rotation-p 1s;
    }
    &_opacity {
        opacity: 0;
    }
    &_show {
        opacity: 1;
    }
    &_no-translate {
        transform: translateX(0);
    }
    &_blue {
        color: #0075BF;
    }
    &_purple {
        color: #881E69;
    }
}

@keyframes rotation-p {
    0% {
        transform: rotate(180);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(360deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(540deg);
    }
}

@media (max-width: 560px) {
    .header {
        &__banner {
            height: 130px;
        }
        &__logo {
            padding-left: 20px;
        }
        &__logo-images {
            img {
                width: 70px;
                &:first-child {
                    width: 40px;
                }
            }
        }
        &_translate {
            transform: translateX(-75px);
            img:last-child {
                width: 115px;
            }
        }
        &_no-translate {
            transform: translateX(0);
        }
    }
}