.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    width: 100%;
    flex: 1;
    padding: 20px 10px;
    background-color: #F8F6F6;
    box-sizing: border-box;
    border-top: 1px solid #DFDFDF;
    &__info {
        font-size: 12px;
        margin-top: 10px;
        text-align: center;
        @media (max-width: 460px) {
            font-size: 10px;
        }
    }
}