@import "assets/styles/colors.scss";

.details {
    display: flex;
    flex-direction: column;
    width: 100%;
    &__title {
        align-self: center;
    }
    &__photo {
        max-width: 200px;
        margin-top: 40px; 
        align-self: center;
    }
    &__info {
        margin: 40px 0;
    }
    &__item {
        margin-bottom: 10px;
    }
    &__message {
        color: $gray;
        margin-bottom: 20px; 
    }
    &__link {
        color: $navi;
        font-weight: bold;
    }
}

#disqus_thread {
    margin-top: 20px;
}