<ng-container *ngIf="$product | async as product">
    <div class="details">
        <app-title [title]="product.title"></app-title>
        <img class="details__photo" [src]="product.photo" alt="product.title" class="details__photo">
        <app-button buttonValue="В магазин =>" (clicked)="goToStore(product.href)" class="details__button"></app-button>
        <div class="details__info">
            <app-phone-features *ngIf="product.category === 'phones'" [phone]="product"></app-phone-features>
        </div>
        <div class="details__message">
            <span *ngIf="product.isDiscount">Этот товар вы можете купить со скидкой или получить бесплатный подарок.</span> Читайте 
            <a class="details__link" routerLink="/instructions">инструкцию</a>.
        </div>
    </div>
    <div id="disqus_thread"></div>
</ng-container>
