<div class="about">
  <h2 class="about__title">Как работает ProDeals?</h2>
  <p class="about__goal">
        ProDeals (profitable deals - выгодные сделки) - сайт групповых покупок, который призван объединить людей, желающих купить что-либо в интернет-магазинах по выгодным ценам. В настоящее время есть одно единственное направление - Китай. Но в будущем планируется расширить географию покупок.
  </p>
  <h2 class="about__title">Как происходит выбор товара?</h2>
  <p class="about__placement">
        Мы ищем интересный и недорогой товар, который был бы интересен нашим посетителям. Далее идет поиск надежного продавца (магазина), способного дать наилучшие условия для совместной покупки.
        Затем мы размещаем акцию с выбранным товаром на нашем сайте с указанием скидки и условий акции.        
        Вам остаётся лишь выбрать интересующий Вас товар и следовать инструкциям.        
        Магазин отправляет товар покупателю, беря на себя гарантийные  обязательства.        
        Мы не являемся посредниками сделки. Но, в случае возникновения каких-либо вопросов, мы будем стараться посодействовать скорейшему их разрешению в пределах наших возможностей.   </p>
  <h3 class="about__wish">Желаем Вам удачных и выгодных покупок!</h3>
</div>