<div class="about">
  <h2 class="about__title">What is ProDeals?</h2>
  <p class="about__goal">
    ProDeals (profitable deals) - is a service which main purpose is to bring together people who want to buy something in online stores at competitive prices. Currently there is one single direction - China. But in the future it is planned to expand the geography of purchases.
  </p>
  <h2 class="about__title">How we choose products to place?</h2>
  <p class="about__placement">
    We are looking for an interesting and inexpensive product. Next comes the search for a reliable seller (store), able to give the best conditions for a joint purchase.
    Then we place the action with the selected product on our website indicating the discount and conditions of the action.
    You just have to choose the product you are interested in and follow the instructions.
    The store sends the goods to the buyer, assuming warranty obligations.
    We are not intermediaries of the transaction. But, in case of any questions, we will try to help resolve them as soon as possible within our capabilities.
  </p>
  <h3 class="about__wish">We wish you a successful and profitable shopping!</h3>
</div>