@import "assets/styles/colors.scss";

.contacts {
    color: $gray;
    &__title {
        margin-bottom: 20px;
    }
    &__message {
        text-indent: 20px;
    }
    &__email {
        font-weight: 600;
        font-size: 18px;
    }
    &__link {
        color: $dark-blue;
    }
}