.navbar {
    width: 100%;
    background-color: #595B5E;
    height: 38px;
    box-sizing: border-box;
    &_active {
        color: #109ACA;
    }
}

.list {
    list-style: none;
    display: flex;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    &__item {
        padding: 5px;
        color: #FFF;
        border-right: 1px dotted #FFF;
        width: 20%;
        display: flex;
        justify-content: center;
        cursor: pointer;
        outline: none;
        &:last-child {
            border: none;
        }
        &:hover {
            color: #109ACA;
        }
    }
}

@media (max-width: 670px) {
    .navbar {
        position: relative;
    }
    .burger {
        display: block;
        position: absolute;
        z-index: 100;
    }
    .list {
        display: none;
    }
}