<div class="offers" [@fadeIn]="isReady ? 'show' : 'hide'">
    <div class="offers__item" *ngFor="let product of products">
        <app-product [product]="product"></app-product>
        <div class="offers__buttons">
            <app-button [buttonValue]="'Details'" (clicked)="showDetails($event)"></app-button>
            <app-button [buttonValue]="'Go to Store'" (clicked)="goToStore($event)"></app-button>
        </div>
    </div>
    <div class="offers__empty" *ngIf="products && !products.length">
        Currently there are no products of chosen brand presented on our service.
    </div>
</div>
