<div class="offers" [@fadeIn]="isReady ? 'show' : 'hide'">
    <div class="offers__products">
        <div class="offers__item" *ngFor="let product of products | paginate: { itemsPerPage: 9, currentPage: page }">
            <app-product [product]="product"></app-product>
            <div class="offers__buttons">
                <app-button [buttonValue]="'Details'" (clicked)="showDetails($event)"></app-button>
                <app-button [buttonValue]="'Go to Store'" (clicked)="goToStore($event)"></app-button>
            </div>
        </div>
        <div class="offers__empty" *ngIf="isEmpty">
            <span *ngIf="brandFilter | async as brandFilter">
                Currently there are no products of {{ brandFilter | titlecase }} presented on our service.
            </span>
            <span *ngIf="categoryFilter | async as categoryFilter">
                Currently there are no products in {{ categoryFilter | titlecase }} category presented on our service.
            </span>
        </div>
    </div>
    <pagination-controls *ngIf="!isEmpty" class="offers__page-control" (pageChange)="page = $event" previousLabel="Prev"></pagination-controls>
</div>
