<div class="offers" [@fadeIn]="isReady ? 'show' : 'hide'">
    <div class="offers__products">
        <div class="offers__item" *ngFor="let product of products | paginate: { itemsPerPage: 9, currentPage: page | async}">
            <app-product [product]="product"></app-product>
            <div class="offers__buttons">
                <app-button [buttonValue]="'О товаре'" (clicked)="showDetails($event, product)"></app-button>
                <app-button [buttonValue]="'В магазин =>'" (clicked)="goToStore($event, product)"></app-button>
            </div>
        </div>
        <div class="offers__empty" *ngIf="isEmpty">
            <span *ngIf="brandFilter | async as brandFilter">
                В данный момент продукты брэнда {{ brandFilter | titlecase }} не представлены на нашем сайте.
            </span>
            <span *ngIf="categoryFilter | async as categoryFilter">
                В данный момент продукты из категории {{ categoryFilter | titlecase }} не представлены на нашем сайте.
            </span>
        </div>
    </div>
    <pagination-controls *ngIf="!isEmpty" class="offers__page-control" (pageChange)="pageChange($event)" previousLabel="Prev"></pagination-controls>
    <div class="offers__banner">
        <a target="_blank" href="https://alitems.com/g/1e8d11449443619d746e16525dc3e8/?ulp=https%3A%2F%2Ftmall.aliexpress.com%2Fwholesale%3Fspm%3Da2g0r.9897535.banner.4.5e33fe3csj9Ngh%26site%3Drus%26brandValueIds%3D3426%2C105790%2C200702996%26SearchText%3Diphone%26isCompetitiveProducts%3Dy%26g%3Dy&subid=iphone11salestartBanner" class="offers__link">
            <img class="offers__image" src="../../../../assets/images/banners/iphone11Tmall.png" alt="iphone 11 sale start">
        </a>
    </div>
</div>
