<div class="phone-features">
    <ul class="list">
        <li class="list__item"><span class="list__item-label">Цена:</span> <span class="list__item-value">{{ phone.price }} $</span></li>
        <li class="list__item"><span class="list__item-label">Цвета:</span> <span class="list__item-value">{{ phone.colors }}</span></li>
        <li class="list__item"><span class="list__item-label">Процессор:</span> <span class="list__item-value">{{ phone.processor }}</span></li>
        <li class="list__item"><span class="list__item-label">Дисплей:</span> <span class="list__item-value">{{ phone.display }}</span></li>
        <li class="list__item"><span class="list__item-label">ОЗУ:</span> <span class="list__item-value">{{ phone.ram }}</span></li>
        <li class="list__item"><span class="list__item-label">Память:</span> <span class="list__item-value">{{ phone.rom }}</span></li>
        <li class="list__item"><span class="list__item-label">Аккумулятор:</span> <span class="list__item-value">{{ phone.battery }}</span></li>
        <li class="list__item"><span class="list__item-label">Симкарты:</span> <span class="list__item-value">{{ phone.simcards }}</span></li>
        <li class="list__item"><span class="list__item-label">Сети:</span> <span class="list__item-value">{{ phone.networks }}</span></li>
        <li class="list__item"><span class="list__item-label">LTE:</span> <span class="list__item-value">{{ phone.lte }}</span></li>
        <li class="list__item"><span class="list__item-label">Камеры:</span> <span class="list__item-value">{{ phone.cameras }}</span></li>
        <li class="list__item"><span class="list__item-label">Операционная система:</span> <span class="list__item-value">{{ phone.os }}</span></li>
        <li class="list__item"><span class="list__item-label">Особенности:</span> <span class="list__item-value">{{ phone.features }}</span></li>
        <li class="list__item"><span class="list__item-label">Размеры:</span> <span class="list__item-value">{{ phone.dimensions }}</span></li>
        <li class="list__item"><span class="list__item-label">Вес:</span> <span class="list__item-value">{{ phone.weight }}</span></li>
        <li *ngIf="phone.additional" class="list__item"><span class="list__item-label">Дополнительно:</span> <span class="list__item-value">{{ phone.additional }}</span></li>
    </ul>
</div>