<div class="burger-menu" (clickOutside)="clickedOutsideMenu($event)">
    <div [ngClass]="{'button': true, 'opened': isMenuOpened}" (click)="toggleMenu()">
        <div class="button__bar"></div>
        <div class="button__bar"></div>
        <div class="button__bar"></div>
    </div>
    <ul ngClass="list" (click)="toggleMenu()" [@slideInOut] *ngIf="isMenuOpened">
        <li class="list__item" routerLink="/main" routerLinkActive="navbar_active" (click)="setDefaultPage()">Главная</li>
        <li class="list__item" routerLink="/about" routerLinkActive="navbar_active">О нас</li>
        <li class="list__item" routerLink="/instructions" routerLinkActive="navbar_active">Инструкции</li>
        <li class="list__item" routerLink="/contacts" routerLinkActive="navbar_active">Контакты</li>
        <li class="list__item" routerLink="/saving" routerLinkActive="navbar_active">Кэшбэк</li>
    </ul>
</div>
