<div class="left-block">
  <app-brands></app-brands>
  <app-special></app-special>
  <div class="left-block__banner">
    <a target="_blank" rel="nofollow" href="https://alitems.com/g/vdqxawsa7u43619d746e16525dc3e8/?i=4&subid=angular-banner1">
        <img width="250" height="250" border="0" src="https://ad.admitad.com/b/vdqxawsa7u43619d746e16525dc3e8/" alt="Aliexpress WW"/>
    </a>
    <!-- prodeals-sideblocks -->
    <!-- <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-5338044649903955"
        data-ad-slot="6386983218"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script> -->
  </div> 
</div>
