@import "assets/styles/colors.scss";

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    border: 1px solid $light-gray;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    min-width: 230px;
    position: relative;
    &__title {
        color: $orange;
        &:hover {
            color: $navi;
        }
    }
    &__price {
        color: $orange;
    }
    &__photo-wrapper {
        width: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__image {
        max-width: 125px;
        box-sizing: border-box;
    }
    &__discount {
        position: absolute;
        bottom: 10px;
        right: 0;
        width: 40px;
        height: 25px;
    }
}