@import "assets/styles/colors.scss";

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    border: 1px solid $light-gray;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    min-width: 230px;
    &__title {
        color: $orange;
        &:hover {
            color: $navi;
        }
    }
    &__price {
        color: $orange;
    }
    &__image {
        max-width: 200px;
        box-sizing: border-box;
    }
}