@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(148,178,202,1) 0%,rgba(223,237,247,1) 100%);
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1280px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.inner {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    background-color: #FFF;
    padding: 20px 10px;
    flex: 1;
    &__left-block, &__right-block {
        width: 20%;
        @media (max-width: 670px) {
            display: none;
        }
    }
    &__main {
        width: 60%;
        padding: 0 10px;
        @media (max-width: 670px) {
            width: 100%;
        }
    }
}

.site-develop {
    position: fixed;
    text-align: center;
    width: 100%;
    max-width: 1280px;
    top: 0;
    font-size: 20px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    background-color: white;
    overflow: hidden;
    z-index: 100;
    opacity: 0.8;
}