<div class="instructions">
    <h2 class="instructions__title">Instructions</h2>
    <section class="instructions__main">
        <h3 class="instructions__title">
            Aliexpress
        </h3>
        <article class="instructions__steps">
            <ul class="list">
                <li class="list__item">If you click the button <img class="list__icon" src="../../assets/images/gotostore.png"> you'll be redirected to the seller's page.</li>
                <li class="list__item">Sign in if you're registered or register an account.</li>
                <li class="list__item">Select bundle, color, shipping country and quantity of the product. Then click the <img class="list__icon list_small" src="../../assets/images/byenow.png"> button.</li>
                <li class="list__item">On the next page set the shipping information. If you have any coupons apply them.</li>
                <li class="list__item">If there is no <span class="list_colored">%</span> icon just pay for the order.</li>
                <li class="list__item">If you see the <span class="list_colored">%</span> icon then you can get a discount or a free gift.</li>
                <li class="list__item">To get a disount or a gift you should <span class="list_colored">leave message for the seller</span> 
                    <input class="list__input" type="text" placeholder="prodeals" disabled> and place order without payment.</li>
                <li class="list__item">As soon as you see that final price is reduced you can pay for the order.</li>
            </ul>
        </article>
    </section>
</div>