<div class="instructions">
    <h2 class="instructions__title">Инструкции</h2>
    <section class="instructions__main">
        <h3 class="instructions__title">
            Aliexpress
        </h3>
        <article class="instructions__steps">
            <ul class="list">
                <li class="list__item">Нажав кнопку <img class="list__icon" src="../../assets/images/store.png"> Вы перейдете на страницу продавца выбранного товара.</li>
                <li class="list__item">Если Вы еще не зарегестрированны, то регистрируйтесь и входите в свой аккаунт.</li>
                <li class="list__item">Выберите опции товара - цвет, набор, доставка. Нажмите кнопку <img class="list__icon list_small" src="../../assets/images/byenow.png"> (Купить сейчас).</li>
                <li class="list__item">Если у вас есть действующий купон, который даст скидку, то вы можете использовать  его тоже.</li>
                <li class="list__item">В случае, если доступна скидка или подарок по нашему промокоду, то Вы увидите такую <span class="list_colored">%</span> иконку.</li>
                <li class="list__item">Для того чтобы получить скидку или подарок в поле "Оставить комментарий для продавца" введите наш промокод <span class="list_colored">leave message for the seller</span> 
                    <input class="list__input" type="text" placeholder="prodeals" disabled> и разместите заказ, НЕ оплачивая.</li>
                <li class="list__item">Увидев наш промокод, продавец либо скорректирует цену, либо сообщит о бесплатном подарке для Вас. После этого можете оплатить.</li>
                <li class="list__item">Если иконки <span class="list_colored">%</span> нет, то просто оплатите свой заказ.</li>
            </ul>
        </article>
        <h3 class="instructions__title">
            Gearbest
        </h3>
        <article class="instructions__steps"> 
            <ul class="list">
                <li class="list__item">Заходим на сайт GearBest, и нажимаем на кнопку "ВОЙТИ", если вы уже зарегистрированы или кнопку "ЗАРЕГИСТРИРОВАТЬСЯ", если еще нет. </li>
                <li class="list__item">Переходим на страницу товара, нажав на ссылку. В строке "Color" выбираем цвет. Нажимаем на кнопку "Add to Cart". </li>
                <li class="list__item">Попадаем на следующую страницу где в поле "Promotion Code:" вводим кодовое слово и нажимаем на кнопку "Apply". </li>
                <li class="list__item">Далее нажимаем "Continue to checkout" и заполняем адрес доставки. Способ доставки выбираем Free (если доступно).</li>
                <li class="list__item">Теперь Можно оплачивать заказ.</li>
            </ul>
        </article>
    </section>
</div>