@import "assets/styles/colors.scss";

.search {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    &__text {
        box-sizing: border-box;
        padding: 5px;
        outline-color: $azure; 
        border: 1px solid $medi-gray;
        width: 70%;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    &__btn {
        color: $gray;
        padding: 4px;
        width: 30%;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    @media (max-width: 768px) {
        flex-direction: column;
    }
} 