@import "assets/styles/colors.scss";

.search {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    &__text {
        box-sizing: border-box;
        padding: 5px;
        outline-color: $azure; 
        border: 1px solid $medi-gray;
    }
    &__btn {
        color: $gray;
        padding: 4px;
    }
} 