@import "assets/styles/colors.scss";

.welcome {
    background-color: $light-blue;
    padding: 15px;
    border-radius: 10px;
    color: $gray;
    &__title {
        text-align: center;
        color: $azure;
        margin-bottom: 10px;
    }
    &__message {
        text-indent: 20px;
        line-height: 1.3;
    }
    &__link {
        color: $navi;
        font-weight: 500;
        transition: all 0.2s;
        &:hover {
            color: $dark-gray;
        }
    }
    &_bold {
        font-weight: 600;
    }
}