$gray: rgb(82, 82, 82);
$dark-gray: rgb(48, 48, 48);
$medi-gray: #DFDFDF;
$light-gray: #F0F4F5;
$azure: #109ACA;
$white: #FFF;
$navi: #064E5A;
$orange: #FF8A00;
$light-blue: #E5EEF3;
$dark-blue: #2d3a82;